<ion-header>
  <ion-toolbar color="primary">
    <ion-title>trending movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  
  <ion-item button *ngFor='let item of movies' [routerLink]="[item.id]">
    <ion-avatar slot="start">
      <img [src]="imagesBaseUrl + '/w92' + item.poster_path"/>
    </ion-avatar>
    <ion-label>{{item.original_title}}
    <p>{{item.release_date | date:'y'}}</p>
    </ion-label>
    <ion-badge slot="end" >{{item.vote_average}}</ion-badge>
  </ion-item>
</ion-list>
<ion-infinite-scroll (ionInfinite)="loadMore($any($event))">
  <ion-infinite-scroll-content
lodingSpinner="bubble"
  lodingText="Loding more data...">
</ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
